/* Mengimpor font */
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #73C2E1;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav {
    text-align: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.nav-links li {
    display: inline-block;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

/* Keyframes untuk fade-in */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #FFD700;
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
    .nav-links {
        /* flex-direction: column; */
        gap: 0.6rem;
    }

    .header {
        position: fixed;
        top: auto;
        bottom: 0;
        width: 100%;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    }
}
